.App {
  text-align: center;
  font-family: sans-serif;
  padding: 10px 10px;
  width: 75vw;
  margin: 0% auto;
}

input {
  width: 40%;
  height: 50px;
  background-color: #f7efef;
  border-radius: 10px;
  border: 0px;
  text-align: center;
  padding: 20px 20px;
  box-sizing: border-box;
}

input:hover {
  cursor: text;
}

.search {
  margin-bottom: 40px;
}

.emoji-list {
  width: 80%;
  margin: 0% auto;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: left;
  padding: 10px 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emoji-list:hover {
  background-color: #f7efef;
  cursor: pointer;
}

span {
  margin-right: 10px;
}

.hide {
  display: none;
}

.emoji-list:hover > .hide {
  display: inherit;
  font-size: 16px;
}

@media (max-width: 900px) {
  .App {
    width: 70vw;
  }
  input {
    width: 90%;
  }
  .emoji-list {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .App {
    width: 90vw;
  }
  input {
    width: 90%;
  }
  .emoji-list {
    font-size: 16px;
  }
}
